<div id="fundo">
  <div class="container form" style="width: 50%">
    <div class="p-4 bg-dark bg-opacity-50 row">
      <div class="m-auto align-item-center">
        <h1 class="text-center text-white">Cadastro de Alunos</h1>
        <form>
          <div class="mb-3">
            <label for="matricula" class="form-label col-form-label text-white bold">Matricula</label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="nome"
              />
          </div>
          <div class="mb-3">
            <label for="matricula" class="form-label col-form-label text-white">Nome</label>
            <input
              type="text"
              class="form-control"
              id="matricula"
              name="matricula"
              />
          </div>
          <div class="mb-3">
            <label for="matricula" class="form-label col-form-label text-white">Curso</label>
            <input
              type="text"
              class="form-control"
              id="curso"
              name="curso"
              />
          </div>
          <button type="submit" class="btn btn-danger">Salvar</button>
        </form>
      </div>
    </div>
  </div>
</div>
