<div class="container bg-light p-4 my-auto">
  <div class="row">
    <div class="col-7 m-auto">
      <h1 class="text-center text-danger">Cadastro de Alunos</h1>
      <form>
        <div class="mb-3">
          <label for="matricula" class="form-label">Matricula</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="nome"
            />
        </div>
        <div class="mb-3">
          <label for="matricula" class="form-label">Nome</label>
          <input
            type="text"
            class="form-control"
            id="matricula"
            name="matricula"
            />
        </div>
        <div class="mb-3">
          <label for="matricula" class="form-label">Curso</label>
          <input
            type="text"
            class="form-control"
            id="curso"
            name="curso"
            />
        </div>
        <button type="submit" class="btn btn-danger">Salvar</button>
      </form>
    </div>
  </div>
</div>
